# These owners will be the default owners for everything in the repo. Unless a later match takes precedence, @10up/open-source-practice, as primary maintainers will be requested for review when someone opens a Pull Request.
*                   @10up/open-source-practice

# GitHub and WordPress.org specifics
/.github/           @jeffpaul
/assets/img/        @jeffpaul
CODE_OF_CONDUCT.md  @jeffpaul
LICENSE.md          @jeffpaul
