node_modules
.DS_Store
.idea*
vendor/*
!vendor/yahnis-elsts
!vendor/georgestephanis
release/*
dist/*
lang/
docs-built
.phpunit.result.cache
/.wp-env.override.json

tests/cypress/videos
tests/cypress/screenshots
tests/cypress/reports
tests/cypress/downloads

distributor.zip

.github/phpcs-report.xml
