language: php
php:
- 7.2
env:
  global:
  - WP_VERSION=master
  - WP_VERSION=4.7
before_script:
  - composer install
script:
  - if [ -n "$AWS_ACCESS_KEY" ]; then ./vendor/bin/wpsnapshots configure 10up --aws_key=$AWS_ACCESS_KEY --aws_secret=$SECRET_ACCESS_KEY --user_name=Travis --user_email=travis@10up.com; fi
  - if [ -n "$AWS_ACCESS_KEY" ]; then bash run-wpacceptance.sh; fi
  - ./vendor/bin/phpunit
  - composer run-script lint
notifications:
  email: false
sudo: required
services: docker
