language: php

global:
- WP_VERSION=latest

before_script:
  - composer install
  - npm install
  - if [ -n "$AWS_ACCESS_KEY" ]; then ./vendor/bin/wpsnapshots configure 10up --aws_key=$AWS_ACCESS_KEY --aws_secret=$SECRET_ACCESS_KEY --user_name=Travis --user_email=travis@10up.com; fi

cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.npm
    - node_modules
    - $HOME/vendor
jobs:
  fast_finish: true
  include:
    - stage: "Distributor Tests"
      name: "Unit Tests and Liniting"
      script:
        - ./vendor/bin/phpunit
        - composer run-script lint
    - script: travis_retry bash run-wpacceptance.sh 3593222a181f0f91824947dbd06985d5
      name: "wp-acceptance: WordPress 4.9"
    - script: travis_retry bash run-wpacceptance.sh 9ea863cebfcbb416c6334a6bef6552f0
      name: "wp-acceptance: WordPress 4.9 plus Gutenberg 4.9"
    - script: travis_retry bash run-wpacceptance.sh 803989004f4b101a644ebfe9bb67e712
      name: "wp-acceptance: WordPress 5.4.2"

notifications:
  email: false
sudo: required
services: docker

