<phpunit
	bootstrap="./tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name='distributor-tests'>
			<directory suffix="Test.php">./tests/php/</directory>
		</testsuite>
	</testsuites>
</phpunit>
