<phpunit
	bootstrap="./tests/php-wp-integration/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name='distributor-wp-integration-tests'>
			<directory prefix="test_" suffix=".php">./tests/php-wp-integration/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
