#toplevel_page_distributor .beta {
	background-color: #fff;
	border-radius: 4px;
	color: #32373c;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height: 9px;
	padding: 2px 4px;
	margin-right: 3px;
	vertical-align: middle;
	text-transform: uppercase;
	margin-bottom: 2px;
}


h1 .beta {
	background-color: #0073aa;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
	padding: 5px 10px;
	text-transform: uppercase;
	margin-right: 3px;
	vertical-align: middle;
	margin-bottom: 2px;
}