.network-connections-notice {
	margin-bottom: 0.5em;
	font-style: italic;
}

.connection-status {
	content: " ";
	display: inline-block;
	border-radius: 50%;
	background-color: #f00;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	vertical-align: middle;
	top: -2px;
	position: relative;
	margin-right: 5px;
}

.connection-status.valid {
	background-color: #62ff00;
}
