.media-handling {
	margin: 0;
}

.license-wrap.valid:after {
	content: "\f147";
	font-family: dashicons;
	display: inline-block;
	font-size: 23px;
	vertical-align: middle;
	top: -2px;
	position: relative;
	color: #49da49;
}

.license-wrap.invalid:after {
	content: "\f335";
	font-family: dashicons;
	display: inline-block;
	font-size: 23px;
	vertical-align: middle;
	top: -2px;
	position: relative;
	color: #ff0000;
}

.registered + .license-wrap,
.registered ~ .description {
	display: none;
}

.registered a {
	font-weight: bold;
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
}
