.js-auth-app-card kbd,
.js-auth-app-card em {
	display: none;
}
.js-auth-app-card #app_name {
	width: 380px;
	border: none;
	box-shadow: none;
}
.js-auth-app-card label {
	font-weight: bold;
	font-size: 14px;
}
