.distributor_page_pull {

	&.dt-loading {

		& #posts-filter,
		& .subsubsub {
			opacity: .5;
			pointer-events: none;
			cursor: default;
		}
	}
}

.wp-list-table .disabled {
	opacity: 0.7;
}

.status-sync .check-column {
	display: none;
}

#pull-errors ul ul {
	list-style: disc;
	padding-left: 20px;
}
