#distributed-to,
#distributed-to strong,
#distributed-to a {
	vertical-align: top;
}

.open-distributor-help {
	cursor: pointer;
	text-decoration: underline;
}

.open-distributor-help {
	cursor: pointer;
}

#distributed-to:before {
	content: ' ';
	display: inline-block;
	top: -1px;
	padding-right: 2px;
	width: 20px;
	height: 20px;
	background: url(../../assets/img/icon.svg) no-repeat top left;
	background-size: contain;
	position: relative;
}
