.manage-column.column-distributor {
	width: 5.5em;
}

.dt-unlinked {
	opacity: 0.3;
}

.manage-column.column-distributor img {
	width: 18px;
	position: relative;
	top: 2px;
}


.distributor.column-distributor img {
	width: 18px;
}

.column-distributor .dt-column-header {
	display: none;
}

