#distributed-to,
#distributed-to strong,
#distributed-to a {
	vertical-align: top;
}

.open-distributor-help {
	cursor: pointer;
	text-decoration: underline;
}

.open-distributor-help {
	cursor: pointer;
}
