#dt_external_connection_details h2,
#dt_external_connection_details .handlediv {
	display: none;
}

#dt_external_connection_details .inside {
	padding: 0;
}

#dt_external_connection_details {
	background-color: inherit;
	border: 0;
	box-shadow: none;
}

.dt-roles-allowed legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
}

#dt_external_connection_details .dt-roles-allowed label {
	font-weight: normal;
	vertical-align: top;
}

#dt_external_connection_details .dt-roles-allowed label:first-child {
	margin-bottom: 5px;
	display: inline-block;
	font-weight: bold;
}

#dt_external_connection_details label {
	font-size: 14px;
	font-weight: bold;
}

#dt_external_connection_details input,
#dt_external_connection_details select {
	margin: 0 0 8px 0;
}

#dt_external_connection_details select[multiple="multiple"] {
	height: auto;
}

#dt_external_connection_details .suggest {
	font-weight: bold;
	cursor: pointer;
}

.description {
	display: block;
}

#dt_external_connection_details p,
#dt_external_connection_details .dt-roles-allowed,
#dt_external_connection_details .post-types-permissions,
#dt_external_connection_details .connection-field-wrap {
	margin-bottom: 2em;
}

#dt_external_connection_details .card {
	margin-bottom: 2em;
}

#dt_external_connection_details .card p {
	margin-bottom: 1em;
}

.endpoint-errors {
	margin: 5px 0 0 0;
}

.endpoint-errors li {
	padding-left: 15px;
	font-style: italic;
}

.endpoint-errors li::before {
	content: "-";
	margin-right: 5px;
}

.misc-pub-visibility {
	display: none;
}

.endpoint-result[data-endpoint-state="loading"]::before {
	content: " ";
	vertical-align: middle;
	top: -0.25em;
	border-radius: 50%;
	width: 0.8em;
	margin-right: 8px;
	height: 0.8em;
	display: inline-block;
	font-size: 9px;
	position: relative;
	text-indent: -9999em;
	border-top: 0.5em solid #cfcfcf;
	border-right: 0.5em solid #cfcfcf;
	border-bottom: 0.5em solid #cfcfcf;
	border-left: 0.5em solid #666;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.endpoint-result[data-endpoint-state="error"]::before,
.endpoint-result[data-endpoint-state="valid"]::before {
	content: " ";
	display: inline-block;
	border-radius: 50%;
	background-color: #f00;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	vertical-align: middle;
	top: -2px;
	position: relative;
	margin-right: 5px;
}

.endpoint-result[data-endpoint-state="valid"]::before {
	background-color: #62ff00;
}

.endpoint-result .dashicons-yes {
	color: #46b450;
}

.endpoint-result .dashicons-warning {
	color: #ffb900;
}

@-webkit-keyframes load8 {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#submitdiv {
	display: none;
}

.delete-link {
	color: #a00;
	margin-left: 1em;
	text-decoration: none;
}

.delete-link:hover {
	color: #f00;
	text-decoration: none;
}

#poststuff #post-body.columns-2 {
	margin-right: 0;
}

#side-sortables {
	display: none;
}

.oauth-connection-established .message-header {
	font-size: 16px;
	color: #008000;
	font-weight: bold;
}

input[type="text"].error-required,
input[type="password"].error-required {
	border: 2px solid #f00;
}

.post-new-php .external-connection-setup,
.post-new-php .connection-field-wrap,
.post-new-php .dt-roles-allowed,
.post-new-php .dt-submit-connection {
	display: none;
}

.post-php .external-connection-wizard {
	display: none;
}

.post-new-php .external-connection-wizard {
	display: none;
}

.post-new-php #wpbody.wp .external-connection-wizard {
	display: inline-block;
}

.post-new-php .auth-credentials.dotcom-oauth2,
.post-php #wpbody.wp .auth-credentials.dotcom-oauth2 {
	display: none;
}

.post-new-php #wpbody.wpdotcom .auth-credentials.dotcom-oauth2 {
	display: inline-block;
}

.post-php .choose-authentication,
.post-php #wpbody.wpdotcom .external-connection-setup {
	display: none;
}

.manual-setup-button {
	padding-left: 5px;
}

.dt-wizard-status {
	display: none;
}

.dt-wizard-status .spinner {
	float: none;
	margin-top: 0;
	margin-left: 0;
}

.dt-wizard-error {
	color: #a00;
}
