.js-auth-app-card kbd,
.js-auth-app-card em {
	display: none;
}
.js-auth-app-card #app_name {
	width: 380px;
	border: none;
	box-shadow: none;
}
.js-auth-app-card label {
	font-weight: bold;
	font-size: 14px;
}

@media (min-width: 783px) {
	body.is-showing-distributor.is-fullscreen-mode #wpadminbar {
		display: block;
	}

	body.is-showing-distributor.is-fullscreen-mode .interface-interface-skeleton {
		top: 32px;
	}
}

.distributor-panel .components-panel__body-title svg {
	height: 20px;
	width: 20px;
}

.distributor-toggle {
	margin-bottom: 8px;
}

/* Help link */

.distributor-title--settings {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	position: relative;
}

.distributor-title--settings .distributor-title__text {
	flex: 0 1 auto;
}

.distributor-title--settings a.distributor-help-link {
	display: inline-block;
	flex: 0 0 auto;
	line-height: 0;
	margin-left: 0.5em;
	text-decoration: none;
}

.distributor-title--settings a.distributor-help-link:not(:hover) span {
	color: #9EA3A8;
}

.distributor-title--settings a.distributor-help-link .distributor-help-link__text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important; /* stylelint-disable-line declaration-no-important */
}
