body.dt-linked-post {

	& .edit-post-visual-editor,
	& .editor-post-excerpt__textarea  {
		opacity: .5;
		pointer-events: none;
		cursor: default;
	}

	& input,
	& select,
	& button,
	& textarea,
	& .button {
		opacity: .5;
		pointer-events: none;
		cursor: default;
	}

	& .edit-post-header__settings,
	& .components-time-picker,
	& .react-datepicker,
	& .components-panel__header {
		& input,
		& select,
		& button,
		& textarea,
		& .button {
			opacity: 1;
			pointer-events: auto;
			cursor: pointer;
		}
	}

	& .components-panel__body-toggle,
	& .edit-post-post-visibility__toggle,
	& .editor-post-trash,
	& .editor-post-publish-button,
	& .edit-post-post-schedule__toggle,
	& .components-menu-item__button  {
		opacity: 1;
		pointer-events: auto;
		cursor: pointer;
	}

	& #post-sticky-toggle-0 {
		pointer-events: auto;
		cursor: pointer;
	}

	& .edit-post-last-revision__panel {
		display: none;
	}

}

#distributed-from,
#distributed-from strong,
#distributed-from a {
	vertical-align: top;
}

#distributed-from:before {
	content: ' ';
	display: inline-block;
	top: -1px;
	padding-right: 2px;
	width: 20px;
	height: 20px;
	background: url(../../assets/img/icon.svg) no-repeat top left;
	background-size: contain;
	position: relative;
}
