:root {
	--mediumScreen: 768px;
	--smallScreen: 480px;
	--fontColor: #eee;
	--backgroundColor: #32373c;
	--borderColor: #555;
	--backgroundColorDark: #23282d;
}

@custom-media --small-screen (min-width: 480px);
@custom-media --medium-screen (min-width: 768px);

#distributor-push-wrapper {
	display: none;
}

#wpadminbar #distributor-push-wrapper {
	display: none;
	font-size: 13px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	padding: 2em 1em;
	height: auto;
	background-color: var(--backgroundColor);
	align-items: center;
	color: var(--fontColor);
	justify-content: center;
	z-index: 9999;
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,1);
	line-height: 1.5;

	@media (--small-screen) {
		padding: 2em 0;
	}
}

#wpadminbar #distributor-push-wrapper * {
	line-height: 1.5;
}

.distributor-show #wp-admin-bar-distributor #distributor-push-wrapper {
	display: flex;
}

#wpadminbar #distributor-push-wrapper .inner {
	width: 100%;
	max-width: var(--mediumScreen);
	margin: 0 auto;
}

#wpadminbar #distributor-push-wrapper .new-connections-list {
	overflow: auto;
	border: 1px solid var(--borderColor);
	max-height: 125px;
}

#wpadminbar #distributor-push-wrapper .selected-connections-list {
	margin-bottom: 1em;
}

#wpadminbar #distributor-push-wrapper .connections-selected {
	margin-top: 2em;
	position: relative;
}

#wpadminbar #distributor-push-wrapper .connections-selected .no-selected {
	display: none;
}

#wpadminbar #distributor-push-wrapper .connections-selected.empty {
	opacity: .5;

	& .no-selected {
		display: block;
	}

	& .with-selected {
		display: none;
	}
}

#wpadminbar #distributor-push-wrapper .connections-selected label {
	color: inherit;
}
#wpadminbar #distributor-push-wrapper .connections-selected input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 2px;
}

#wpadminbar #distributor-push-wrapper .connections-selected.empty:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

#wpadminbar #distributor-push-wrapper .syndicated-notice a {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#wpadminbar #distributor-push-wrapper {
	@media (--small-screen) {
		position: fixed;

		& .connections-selector {
			width: 60%;
			position: relative;
			float: left;
			padding-right: 0;
			box-sizing: border-box;
			display: flex;
			align-items: center;
  			justify-content: center;
		}

		& .connections-selector div {
			width: 100%;
		}

		& .connections-selected {
			width: 40%;
			float: right;
			margin-top: 0;
			padding-left: 3em;
			box-sizing: border-box;
		}
	}
}

#wpadminbar #distributor-push-wrapper .syndicated-notice,
#wpadminbar #distributor-push-wrapper .no-connections-notice {
	text-align: center;
	margin: 0;

	& a {
		color: inherit;
		text-decoration: underline;
	}
}

#wpadminbar #distributor-push-wrapper input[type=checkbox] {
	height: 16px !important;
}

#wpadminbar #distributor-push-wrapper input[type=text] {
	font-size: inherit;
	padding: 0.5278em;
    width: 100%;
	background-color: var(--backgroundColor);
	border: 2px solid var(--borderColor);
	color: var(--fontColor);
	margin-bottom: .5em;

	&::placeholder {
		color: color(var(--fontColor) blackness(50%));
	}

	&:focus {
		color: var(--fontColor);
		background-color: var(--backgroundColor);
		border: 2px solid var(--borderColor);
	}
}

#wpadminbar #distributor-push-wrapper button {
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
	border-width: 1px;
    border-style: solid;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	border-radius: 3px;
	text-transform: none;
	font-size: 13px;
	vertical-align: top;
	font-weight: normal;
	cursor: pointer;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	&:hover,
	&:focus {
		background-color: #0085ba;
		outline: none;
	}
}

#wpadminbar #distributor-push-wrapper .new-connections-list > div:nth-child(odd) {
	background-color: var(--backgroundColorDark);
}

#wpadminbar #distributor-push-wrapper .add-connection,
#wpadminbar #distributor-push-wrapper .added-connection {
	display: block;
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
}

#wpadminbar #distributor-push-wrapper .new-connections-list .add-connection.added {
	background-color: color(var(--backgroundColor) lightness(25%));
}

#wpadminbar #distributor-push-wrapper .add-connection.syndicated {
	cursor: default;
}

#wpadminbar #distributor-push-wrapper .add-connection.syndicated span {
	color: var(--borderColor);
}

#wpadminbar #distributor-push-wrapper .add-connection.syndicated a {
	color: inherit;
	text-decoration: underline;
	float: right;
	height: auto;
}

#wpadminbar #distributor-push-wrapper .added-connection {
	background-color: var(--borderColor);
	margin-bottom: .5em;
	cursor: normal;
	position: relative;

	& .remove-connection {
		cursor: pointer;
		top: 1px;
		display: inline-block;
		float: right;
		font-size: 20px;
		line-height: 19px;
		vertical-align: middle;
		margin-left: 6px;
   		position: relative;
	}

	& .remove-connection:after {
		content: "\f335";
		font-family: dashicons;
	}
}

#wpadminbar #distributor-push-wrapper p,
#wpadminbar #distributor-push-wrapper header {
	margin: 0 0 1em 0 !important;
	padding: 0;
}

#wpadminbar #distributor-push-wrapper .as-draft {
	margin-left: .5em;
    height: 30px;
    line-height: 28px;
    padding: 2px 12px 2px;
    display: inline-block;
    box-sizing: border-box;
}

#wpadminbar #distributor-push-wrapper .action-wrapper.loading .syndicate-button:after {
	content: ' ';
	vertical-align: middle;
	border-radius: 50%;
	width: 6px;
	margin-left: 8px;
	height: 6px;
	display: inline-block;
	font-size: 9px;
	text-indent: -9999em;
	border-top: 3px solid #cfcfcf;
	border-right: 3px solid #cfcfcf;
	border-bottom: 3px solid #cfcfcf;
	border-left: 3px solid color(#0085ba blackness(5%));
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
	position: relative;
	top: -1px;
	box-sizing: initial;
}

#wpadminbar #distributor-push-wrapper .messages {
	margin-top: 1em;
	box-sizing: border-box;

	@media (--small-screen) {
		width: 40%;
		float: right;
		clear: right;
		padding-left: 3em;
	}
}

#wpadminbar #distributor-push-wrapper .messages * {
	display: none;
}

#wpadminbar #distributor-push-wrapper.message-error .messages .dt-error {
	display: block;
}

#wpadminbar #distributor-push-wrapper.message-success .messages .dt-success {
	display: block;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

